// 색상
$main-color: rgb(255, 233, 156);
$sub-color: rgb(255, 215, 3);
$login-color: rgb(255, 215, 3);
$dashboard-color: rgb(255, 233, 156);
$dashboard-icon-color: rgb(255, 215, 3);
$step-color: rgb(249, 223, 132);
$dark-step-color: rgb(214, 175, 32);
$gray-color: #c4c4c4;
$dark-gray-color: #686868;
