// 이렇게 오버라이딩 해서 쓸 수 있음
$primary: #401f7c;
$bg-color: rgb(255, 233, 156);
$bg-nav-color: rgb(255, 215, 3);
$bg-color-active: rgb(41, 183, 114);
$bg-sidebar-color: rgb(255, 215, 3);
$bg-color-hover:rgb(41, 183, 114);
$text-color: rgb(45, 45, 45);
$subtext-color: #AAAAAA;
$font-size: 30px;
$font-size-small: 30px;
$icon-size: 5rem;
