@use './abstracts/variables' as v;
@import './abstracts/mixins';

@import './layout/navBar/leftNav';
@import './layout/navBar/navBar';
@import './layout/navBar/righNav';
@import './layout/navBar/searchBar';


@import './layout/sideBar/bigSideBar';
@import './layout/sideBar/sideBar';
@import './layout/sideBar/smallSideBar';

@import './pages/mainPage';
@import './pages/serchedVideosPage';
@import './pages/videoPage';

@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: v.$bg-color;
  font-family: 'Poor Story', system-ui;

  #root {
    display: grid;
    grid-template-columns: auto 1.4fr;
    grid-template-rows: 55px auto;
    grid-template-areas: 
    "nav nav"
    "aside main";

    main {
      width: 100%;
      grid-area: main;
    }
  }
}